@import "tailwindcss";

@theme {
  /* Rose Pink Theme */
  --color-gold-50: #fdf6f8;
  --color-gold-100: #fbebf1;
  --color-gold-200: #f5d6e2;
  --color-gold-300: #eeb0ca;
  --color-gold-400: #ca869d;
  /* Base */
  --color-gold-500: #b56c86;
  --color-gold-600: #9e536d;
  --color-gold-700: #853f57;

  --color-dark-900: #1a1a1a;
  --color-dark-800: #2d2d2d;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-stone-50 text-dark-800 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}